altgraph==0.17.4
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.3
numpy==2.2.6
packaging==25.0
pandas==2.2.3
pdfminer.six==20250327
pdfplumber==0.11.6
pillow==11.2.1
pycparser==2.22
pyinstaller==6.14.0
pyinstaller-hooks-contrib==2025.4
pypdfium2==4.30.1
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.2
python-dateutil==2.9.0.post0
pytz==2025.2
setuptools==78.1.1
six==1.17.0
tzdata==2025.2
wheel==0.45.1
